REC_BMS_serial.json
[{"id":"77f9a170.20eb","type":"subflow","name":"Send to REC BMS","info":"","category":"","in":[{"x":20,"y":80,"wires":[{"id":"c9cbb69.1bad348"}]}],"out":[{"x":440,"y":220,"wires":[{"id":"5e465330.c4ca6c","port":0}]},{"x":500,"y":280,"wires":[{"id":"475d1e08.8565d","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c9cbb69.1bad348","type":"function","z":"77f9a170.20eb","name":"Prepare Message","func":"\n\nfunction createBytes(message) {\n    var dest = Buffer.from([0x02]); //Destination address\n    var sender = Buffer.from([0x00]); //Sender is always 0\n    var command = Buffer.from(message);\n    var n = Buffer.byteLength(command, 'ascii');\n    var bytes = Buffer.from([n]);\n    //var bytes=Buffer.alloc(2);\n    //bytes.writeUInt16BE(n);\n    var data = Buffer.concat([dest, sender, bytes, command]);\n    return data;    \n}\n\n\nmsg.buffer = createBytes(msg.payload);\nmsg.test = msg.buffer.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["a5e6f6c7.088fe8"]]},{"id":"a5e6f6c7.088fe8","type":"function","z":"77f9a170.20eb","name":"calcCRC16","func":"var CrcArcTab = new Array(0x0000,0xC0C1,0xC181,0x0140,0xC301,0x03C0,0x0280,0xC241,0xC601,0x06C0,0x0780,0xC741,0x0500,\n0xC5C1,0xC481,0x0440,0xCC01,0x0CC0,0x0D80,0xCD41,0x0F00,0xCFC1,0xCE81,0x0E40,0x0A00,0xCAC1,\n0xCB81,0x0B40,0xC901,0x09C0,0x0880,0xC841,0xD801,0x18C0,0x1980,0xD941,0x1B00,0xDBC1,0xDA81,\n0x1A40,0x1E00,0xDEC1,0xDF81,0x1F40,0xDD01,0x1DC0,0x1C80,0xDC41,0x1400,0xD4C1,0xD581,0x1540,\n0xD701,0x17C0,0x1680,0xD641,0xD201,0x12C0,0x1380,0xD341,0x1100,0xD1C1,0xD081,0x1040,0xF001,\n0x30C0,0x3180,0xF141,0x3300,0xF3C1,0xF281,0x3240,0x3600,0xF6C1,0xF781,0x3740,0xF501,0x35C0,\n0x3480,0xF441,0x3C00,0xFCC1,0xFD81,0x3D40,0xFF01,0x3FC0,0x3E80,0xFE41,0xFA01,0x3AC0,0x3B80,\n0xFB41,0x3900,0xF9C1,0xF881,0x3840,0x2800,0xE8C1,0xE981,0x2940,0xEB01,0x2BC0,0x2A80,0xEA41,\n0xEE01,0x2EC0,0x2F80,0xEF41,0x2D00,0xEDC1,0xEC81,0x2C40,0xE401,0x24C0,0x2580,0xE541,0x2700,\n0xE7C1,0xE681,0x2640,0x2200,0xE2C1,0xE381,0x2340,0xE101,0x21C0,0x2080,0xE041,0xA001,0x60C0,\n0x6180,0xA141,0x6300,0xA3C1,0xA281,0x6240,0x6600,0xA6C1,0xA781,0x6740,0xA501,0x65C0,0x6480,\n0xA441,0x6C00,0xACC1,0xAD81,0x6D40,0xAF01,0x6FC0,0x6E80,0xAE41,0xAA01,0x6AC0,0x6B80,0xAB41,\n0x6900,0xA9C1,0xA881,0x6840,0x7800,0xB8C1,0xB981,0x7940,0xBB01,0x7BC0,0x7A80,0xBA41,0xBE01,\n0x7EC0,0x7F80,0xBF41,0x7D00,0xBDC1,0xBC81,0x7C40,0xB401,0x74C0,0x7580,0xB541,0x7700,0xB7C1,\n0xB681,0x7640,0x7200,0xB2C1,0xB381,0x7340,0xB101,0x71C0,0x7080,0xB041,0x5000,0x90C1,0x9181,\n0x5140,0x9301,0x53C0,0x5280,0x9241,0x9601,0x56C0,0x5780,0x9741,0x5500,0x95C1,0x9481,0x5440,\n0x9C01,0x5CC0,0x5D80,0x9D41,0x5F00,0x9FC1,0x9E81,0x5E40,0x5A00,0x9AC1,0x9B81,0x5B40,0x9901,\n0x59C0,0x5880,0x9841,0x8801,0x48C0,0x4980,0x8941,0x4B00,0x8BC1,0x8A81,0x4A40,0x4E00,0x8EC1,\n0x8F81,0x4F40,0x8D01,0x4DC0,0x4C80,0x8C41,0x4400,0x84C1,0x8581,0x4540,0x8701,0x47C0,0x4680,\n0x8641,0x8201,0x42C0,0x4380,0x8341,0x4100,0x81C1,0x8081,0x4040);\n\nfunction CrcArcAdd(crc, c)\n/*\n  'crc' should be initialized to 0x0000.\n*/\n{\n  return CrcArcTab[(crc ^ c) & 0xFF] ^ ((crc >> 8) & 0xFF);\n}\n\n\nfunction CrcArcStr(str)\n{\n  var n;\n  var len = str.length;\n  var crc;\n\n  crc = 0;\n  for (n = 0; n < len; n++)\n  {\n    crc = CrcArcAdd(crc, str.readUInt8(n)); //str.charCodeAt(n));\n  }\n  return crc;\n}\n\nfunction Hex16(val)\n/*\n  Convert value as 16-bit unsigned integer to 4 digit hexadecimal number prefixed with \"0x\".\n*/\n{\n  var n = val & 0xFFFF;\n  var str = n.toString(16).toUpperCase();\n  n = str.length;\n  if (n < 2) str = \"000\" + str;\n  else if (n < 3) str = \"00\" + str;\n  else if (n < 4) str = \"0\" + str;\n  return \"0x\" + str;\n}\n\nvar crc = CrcArcStr(msg.buffer);\nvar bytes = Buffer.alloc(2);\nbytes.writeUInt16BE(crc & 0xFFFF);\n\nmsg.buffer = Buffer.concat([msg.buffer, bytes]);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":160,"wires":[["5e465330.c4ca6c"]]},{"id":"5e465330.c4ca6c","type":"function","z":"77f9a170.20eb","name":"add STX ETX","func":"var stx = Buffer.from([0x55]);\nvar etx = Buffer.from([0xAA]);\nmsg.payload = Buffer.concat([stx, msg.buffer, etx]);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":220,"wires":[["475d1e08.8565d"]]},{"id":"475d1e08.8565d","type":"serial request","z":"77f9a170.20eb","name":"SendRS485","serial":"60fa7ee1.15abe","x":350,"y":280,"wires":[[]]},{"id":"60fa7ee1.15abe","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"56000","databits":"8","parity":"none","stopbits":"1","waitfor":"0x55","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"10","bin":"bin","out":"interbyte","addchar":"","responsetimeout":"350"},{"id":"238222e2.3669ce","type":"tab","label":"REC BMS serial","disabled":false,"info":""},{"id":"56ebce0c.4b16a","type":"inject","z":"238222e2.3669ce","name":"Send LCD1?","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"LCD1?","payloadType":"str","x":120,"y":120,"wires":[["182b737c.88e56d"]]},{"id":"1e7c613f.266aff","type":"function","z":"238222e2.3669ce","name":"","func":"var buffer = msg.payload;\n\nif (buffer && buffer.length == 44) {\n\n    var start = 12;\n    var bytesn = buffer.readInt8(start) + 3;\n    msg.nrBytes = bytesn;\n    \n    //var res = buffer.slice(start + 1,start + 5);\n    start = start + 1;\n    msg.minCell = Math.round(buffer.readFloatLE(start) * 1000) / 1000;\n    start = start + 4;\n    msg.maxCell = Math.round(buffer.readFloatLE(start) * 1000) / 1000;\n    start = start + 4;\n    msg.cur = buffer.readFloatLE(start);\n    start = start + 4;\n    msg.temp = buffer.readFloatLE(start);\n    start = start + 4;\n    msg.volt = buffer.readFloatLE(start);\n    start = start + 4;\n    msg.soc = Math.round (buffer.readFloatLE(start) * 100);\n    start = start + 4;\n    msg.soh = Math.round (buffer.readFloatLE(start) * 100);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":280,"wires":[["602dff34.d5b96","2721158b.5a4eaa"]]},{"id":"182b737c.88e56d","type":"subflow:77f9a170.20eb","z":"238222e2.3669ce","name":"send to REC BMS","env":[],"x":210,"y":180,"wires":[[],["1e7c613f.266aff"]]},{"id":"71ac8262.aba6fc","type":"ui_gauge","z":"238222e2.3669ce","name":"","group":"d91137d7.c6a8b8","order":2,"width":0,"height":0,"gtype":"gage","title":"Verbraucherbatterie","label":"%","format":"{{msg.soc}}","min":"0","max":"100","colors":["#b30003","#e6e600","#52cb3a"],"seg1":"15","seg2":"30","x":610,"y":220,"wires":[]},{"id":"834464c9.cdfb98","type":"ui_level","z":"238222e2.3669ce","group":"d91137d7.c6a8b8","order":4,"width":0,"height":0,"name":"Strom","label":"Strom","colorHi":"#52cb3a","colorWarn":"#b30003","colorNormal":"#9eb300","colorOff":"#595959","min":"-200","max":"60","segWarn":"-150","segHigh":"0","unit":"A","layout":"sh","channelA":"","channelB":"","decimals":"2","animations":"soft","shape":2,"colorschema":"valuedriven","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"cur","peaktime":3000,"x":570,"y":260,"wires":[]},{"id":"ff427b3d.05d4f8","type":"ui_level","z":"238222e2.3669ce","group":"d91137d7.c6a8b8","order":4,"width":0,"height":0,"name":"Spannung","label":"Spannung","colorHi":"#52cb3a","colorWarn":"#b30003","colorNormal":"#b30003","colorOff":"#595959","min":"0","max":"15","segWarn":"10","segHigh":"12","unit":"V","layout":"sh","channelA":"","channelB":"","decimals":"2","animations":"soft","shape":2,"colorschema":"valuedriven","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"volt","peaktime":3000,"x":590,"y":300,"wires":[]},{"id":"c37626d2.164628","type":"ui_text","z":"238222e2.3669ce","group":"c712a169.ea1a1","order":6,"width":0,"height":0,"name":"V - Min","label":"V - Min","format":"{{msg.minCell}} V","layout":"row-spread","x":580,"y":340,"wires":[]},{"id":"90b525ed.9810c8","type":"ui_text","z":"238222e2.3669ce","group":"c712a169.ea1a1","order":7,"width":0,"height":0,"name":"V - Max","label":"V - Max","format":"{{msg.maxCell}} V","layout":"row-spread","x":580,"y":380,"wires":[]},{"id":"dbc2217a.02a2","type":"ui_text","z":"238222e2.3669ce","group":"c712a169.ea1a1","order":5,"width":0,"height":0,"name":"SOH","label":"SOH","format":"{{msg.soh}} %","layout":"row-spread","x":570,"y":420,"wires":[]},{"id":"ab96b9b1.76a6a8","type":"subflow:77f9a170.20eb","z":"238222e2.3669ce","name":"send to REC BMS","env":[],"x":210,"y":460,"wires":[[],["b6f04d54.44952"]]},{"id":"b6f04d54.44952","type":"function","z":"238222e2.3669ce","name":"","func":"\nvar buffer = msg.payload;\nif (buffer && buffer.length == 31) {\n    msg.cell1 = Math.round(buffer.readFloatLE(12) * 1000) / 1000;\n    msg.cell2 = Math.round(buffer.readFloatLE(16) * 1000) / 1000;\n    msg.cell3 = Math.round(buffer.readFloatLE(20) * 1000) / 1000;\n    msg.cell4 = Math.round(buffer.readFloatLE(24) * 1000) / 1000;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":580,"wires":[["4f0978dc.4b1238","ec120584.190908"]]},{"id":"bcacfb3d.ed3d18","type":"change","z":"238222e2.3669ce","name":"msg CELL?","rules":[{"t":"set","p":"payload","pt":"msg","to":"CELL?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":380,"wires":[["ab96b9b1.76a6a8"]]},{"id":"14343e5f.7ef052","type":"ui_text","z":"238222e2.3669ce","group":"c712a169.ea1a1","order":3,"width":0,"height":0,"name":"","label":"Zelle 3","format":"{{msg.cell3}} V","layout":"row-spread","x":590,"y":580,"wires":[]},{"id":"caf5e514.10a168","type":"ui_text","z":"238222e2.3669ce","group":"c712a169.ea1a1","order":4,"width":0,"height":0,"name":"","label":"Zelle 4","format":"{{msg.cell4}} V","layout":"row-spread","x":590,"y":620,"wires":[]},{"id":"97ea1692.bf5af8","type":"ui_text","z":"238222e2.3669ce","group":"c712a169.ea1a1","order":1,"width":0,"height":0,"name":"","label":"Zelle 1","format":"{{msg.cell1}} V","layout":"row-spread","x":590,"y":500,"wires":[]},{"id":"423f7c3e.ff02a4","type":"ui_text","z":"238222e2.3669ce","group":"c712a169.ea1a1","order":2,"width":0,"height":0,"name":"","label":"Zelle 2","format":"{{msg.cell2}} V","layout":"row-spread","x":590,"y":540,"wires":[]},{"id":"c0510b8f.863e78","type":"subflow:77f9a170.20eb","z":"238222e2.3669ce","name":"send to REC BMS","env":[],"x":390,"y":680,"wires":[[],["6b0f524b.055a7c"]]},{"id":"6b0f524b.055a7c","type":"function","z":"238222e2.3669ce","name":"","func":"var buffer = msg.payload;\nif (buffer && buffer.length == 16) {\n\n    var bytes = buffer.readInt8(3);\n    msg.res1 = buffer.slice(4, bytes + 2).toString();\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":680,"wires":[["5864c410.44758c","2d33e07b.26bca"]]},{"id":"7d9dd3c8.9ac0bc","type":"change","z":"238222e2.3669ce","name":"msg BMIN?","rules":[{"t":"set","p":"payload","pt":"msg","to":"BMIN?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":680,"wires":[["c0510b8f.863e78"]]},{"id":"e33b3e99.1c564","type":"change","z":"238222e2.3669ce","name":"msg BVOL?","rules":[{"t":"set","p":"payload","pt":"msg","to":"BVOL?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":771,"wires":[["8652ae04.a85e4"]]},{"id":"8652ae04.a85e4","type":"subflow:77f9a170.20eb","z":"238222e2.3669ce","name":"send to REC BMS","env":[],"x":390,"y":771,"wires":[[],["ccc97853.399ce8"]]},{"id":"ccc97853.399ce8","type":"function","z":"238222e2.3669ce","name":"","func":"var buffer = msg.payload;\nif (buffer && buffer.length == 16) {\n    var bytes = buffer.readInt8(3);\n    msg.res2 = buffer.slice(4, bytes + 2).toString();\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":771,"wires":[["4b100612.ddb2c8","2aff15d8.92224a"]]},{"id":"c1667d18.39b5f","type":"ui_text","z":"238222e2.3669ce","group":"f75b7179.44237","order":8,"width":0,"height":0,"name":"","label":"Balancing end:","format":"{{msg.res2}} V","layout":"row-spread","x":880,"y":771,"wires":[]},{"id":"eb4f7618.876268","type":"change","z":"238222e2.3669ce","name":"msg CMAX?","rules":[{"t":"set","p":"payload","pt":"msg","to":"CMAX?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":899,"wires":[["fb88d7fe.bee7b8"]]},{"id":"fb88d7fe.bee7b8","type":"subflow:77f9a170.20eb","z":"238222e2.3669ce","name":"send to REC BMS","env":[],"x":390,"y":899,"wires":[[],["90dffd00.9fc97"]]},{"id":"90dffd00.9fc97","type":"function","z":"238222e2.3669ce","name":"","func":"\nvar buffer = msg.payload;\nif (buffer && buffer.length == 16) {\n    var bytes = buffer.readInt8(3);\n    msg.res3 = buffer.slice(4, bytes + 2).toString();\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":899,"wires":[["14a0cb00.e25d35","264aec43.e5e914"]]},{"id":"5c49506e.e054e","type":"ui_text","z":"238222e2.3669ce","group":"f75b7179.44237","order":8,"width":0,"height":0,"name":"","label":"OVP","format":"{{msg.res3}} V","layout":"row-spread","x":850,"y":899,"wires":[]},{"id":"ce57f605.b42268","type":"change","z":"238222e2.3669ce","name":"msg CMIN?","rules":[{"t":"set","p":"payload","pt":"msg","to":"CMIN?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":992,"wires":[["a6053668.91ad38"]]},{"id":"a6053668.91ad38","type":"subflow:77f9a170.20eb","z":"238222e2.3669ce","name":"send to REC BMS","env":[],"x":390,"y":992,"wires":[[],["95e9edfb.e0493"]]},{"id":"95e9edfb.e0493","type":"function","z":"238222e2.3669ce","name":"","func":"\nvar buffer = msg.payload;\nif (buffer && buffer.length == 16) {\n    var bytes = buffer.readInt8(3);\n    msg.res4 = buffer.slice(4, bytes + 2).toString();\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":992,"wires":[["4fe8e821.602d38","88c35909.648a38"]]},{"id":"93846f41.3dd59","type":"ui_text","z":"238222e2.3669ce","group":"f75b7179.44237","order":8,"width":0,"height":0,"name":"","label":"UVP","format":"{{msg.res4}} V","layout":"row-spread","x":850,"y":992,"wires":[]},{"id":"5d2e92b7.28f79c","type":"change","z":"238222e2.3669ce","name":"msg CHAR?","rules":[{"t":"set","p":"payload","pt":"msg","to":"CHAR?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":1099,"wires":[["3a1fdbea.3062d4"]]},{"id":"3a1fdbea.3062d4","type":"subflow:77f9a170.20eb","z":"238222e2.3669ce","name":"send to REC BMS","env":[],"x":390,"y":1099,"wires":[[],["a697e183.a69eb"]]},{"id":"a697e183.a69eb","type":"function","z":"238222e2.3669ce","name":"","func":"\nvar buffer = msg.payload;\nif (buffer && buffer.length == 16) {\n    var bytes = buffer.readInt8(3);\n    msg.res5 = buffer.slice(4, bytes + 2).toString();\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":1099,"wires":[["700cfc57.19d974","47a47937.a1e5f8"]]},{"id":"7bb953ce.e6963c","type":"ui_text","z":"238222e2.3669ce","group":"f75b7179.44237","order":8,"width":0,"height":0,"name":"","label":"Charge end:","format":"{{msg.res5}} V","layout":"row-spread","x":870,"y":1099,"wires":[]},{"id":"994fa5f0.aae668","type":"ui_text","z":"238222e2.3669ce","group":"f75b7179.44237","order":4,"width":0,"height":0,"name":"","label":"Balancing start:","format":"{{msg.res1}} V","layout":"row-spread","x":880,"y":680,"wires":[]},{"id":"602dff34.d5b96","type":"switch","z":"238222e2.3669ce","name":"","property":"soc","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":280,"wires":[["71ac8262.aba6fc","834464c9.cdfb98","ff427b3d.05d4f8","c37626d2.164628","90b525ed.9810c8","dbc2217a.02a2"]]},{"id":"4f0978dc.4b1238","type":"switch","z":"238222e2.3669ce","name":"","property":"cell1","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":580,"wires":[["97ea1692.bf5af8","423f7c3e.ff02a4","14343e5f.7ef052","caf5e514.10a168"]]},{"id":"5864c410.44758c","type":"switch","z":"238222e2.3669ce","name":"","property":"res1","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":680,"wires":[["994fa5f0.aae668"]]},{"id":"4b100612.ddb2c8","type":"switch","z":"238222e2.3669ce","name":"","property":"res2","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":771,"wires":[["c1667d18.39b5f"]]},{"id":"14a0cb00.e25d35","type":"switch","z":"238222e2.3669ce","name":"","property":"res3","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":899,"wires":[["5c49506e.e054e"]]},{"id":"4fe8e821.602d38","type":"switch","z":"238222e2.3669ce","name":"","property":"res4","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":992,"wires":[["93846f41.3dd59"]]},{"id":"700cfc57.19d974","type":"switch","z":"238222e2.3669ce","name":"","property":"res5","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":1099,"wires":[["7bb953ce.e6963c"]]},{"id":"3b6e218a.28c99e","type":"subflow:77f9a170.20eb","z":"238222e2.3669ce","name":"","x":290,"y":1500,"wires":[[],[]]},{"id":"dc8e849d.c201e8","type":"ui_text_input","z":"238222e2.3669ce","name":"","label":"Send message","tooltip":"","group":"82a8192e.e4b678","order":4,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"test","x":200,"y":1440,"wires":[["3b6e218a.28c99e"]]},{"id":"77232cb0.030284","type":"ui_text","z":"238222e2.3669ce","group":"82a8192e.e4b678","order":1,"width":0,"height":0,"name":"","label":"Balance end voltage","format":"BVOL x.xx","layout":"row-spread","x":600,"y":1420,"wires":[]},{"id":"800fbc69.a0bba","type":"ui_text","z":"238222e2.3669ce","group":"82a8192e.e4b678","order":1,"width":0,"height":0,"name":"","label":"Balance start voltage","format":"BMIN x.xx","layout":"row-spread","x":600,"y":1460,"wires":[]},{"id":"97ae9a37.0951a8","type":"ui_text","z":"238222e2.3669ce","group":"82a8192e.e4b678","order":1,"width":0,"height":0,"name":"","label":"OVP","format":"CMAX x.xx","layout":"row-spread","x":550,"y":1500,"wires":[]},{"id":"ebd4be38.53ffc","type":"ui_text","z":"238222e2.3669ce","group":"82a8192e.e4b678","order":1,"width":0,"height":0,"name":"","label":"UVP","format":"CMIN x.xx","layout":"row-spread","x":550,"y":1540,"wires":[]},{"id":"1da34aad.e1b0e5","type":"ui_text","z":"238222e2.3669ce","group":"82a8192e.e4b678","order":1,"width":0,"height":0,"name":"","label":"End of charge voltage","format":"CHAR x.xx","layout":"row-spread","x":600,"y":1580,"wires":[]},{"id":"2721158b.5a4eaa","type":"delay","z":"238222e2.3669ce","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":230,"y":320,"wires":[["bcacfb3d.ed3d18"]]},{"id":"ec120584.190908","type":"delay","z":"238222e2.3669ce","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":620,"wires":[["7d9dd3c8.9ac0bc"]]},{"id":"2d33e07b.26bca","type":"delay","z":"238222e2.3669ce","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":720,"wires":[["e33b3e99.1c564"]]},{"id":"2aff15d8.92224a","type":"delay","z":"238222e2.3669ce","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":840,"wires":[["eb4f7618.876268"]]},{"id":"264aec43.e5e914","type":"delay","z":"238222e2.3669ce","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":940,"wires":[["ce57f605.b42268"]]},{"id":"88c35909.648a38","type":"delay","z":"238222e2.3669ce","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":1040,"wires":[["5d2e92b7.28f79c"]]},{"id":"e40ffa13.94d2b8","type":"subflow:77f9a170.20eb","z":"238222e2.3669ce","name":"","x":390,"y":1200,"wires":[[],["30989914.b637d6"]]},{"id":"30989914.b637d6","type":"function","z":"238222e2.3669ce","name":"","func":"msg.errno = 0;\nvar errMsg = {\n    0: \"No Error\",\n    1: \"Single or multiple cell voltage is too high\",\n    2: \"Single or multiple cell voltage is too low\",\n    3: \"Cell voltages differs more than set\",\n    4: \"Cell temperature is too high\",\n    5: \"BMS temperature is too high –internal error\",\n    6: \"Number of cells, address is not set properly\",\n    7: \"The temperature is too low for charging\",\n    8: \"Temperature sensor error\",\n    9: \"Communication error\",\n    10: \"Cell in short circuit or BMS measurement error\",\n    11: \"Discharge relay 2 is in short circuit\",\n    12: \"Current measurement disabled or charging/discharging current >2 x shunt max current\",\n    13: \"Wrong cell chemistry selected\",\n    14: \"EEPROM data corruption\",\n    15: \"ABMS CAN bus communication baud rate error\",\n    16: \"ABMS internal communication failure\"\n}\n\nvar buffer = msg.payload;\nif (buffer && buffer.length == 19) {\n    var isError = buffer.readInt8(12);\n    var bms = buffer.readInt8(13);\n    if (isError) {\n        msg.errno = buffer.readInt8(14);\n        \n    }\n    \n}\n\nmsg.error = errMsg[msg.errno];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1200,"wires":[["ba86e76e.1ecf38","88cc3b93.710168"]]},{"id":"47a47937.a1e5f8","type":"delay","z":"238222e2.3669ce","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":1140,"wires":[["44c7a12d.b7d13"]]},{"id":"44c7a12d.b7d13","type":"change","z":"238222e2.3669ce","name":"msg ERRO?","rules":[{"t":"set","p":"payload","pt":"msg","to":"ERRO?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":1200,"wires":[["e40ffa13.94d2b8"]]},{"id":"3fd64a7a.2b5136","type":"ui_text","z":"238222e2.3669ce","group":"82a8192e.e4b678","order":8,"width":0,"height":0,"name":"","label":"Fehler:","format":"{{msg.error}}","layout":"row-left","x":870,"y":1200,"wires":[]},{"id":"43b39c41.415854","type":"ui_text","z":"238222e2.3669ce","group":"82a8192e.e4b678","order":1,"width":0,"height":0,"name":"","label":"Reset SOC manualy","format":"SOCS x.xx","layout":"row-spread","x":600,"y":1620,"wires":[]},{"id":"43bb525c.a3de1c","type":"subflow:77f9a170.20eb","z":"238222e2.3669ce","name":"","x":370,"y":1294,"wires":[[],["fa8b6be5.80aca8"]]},{"id":"fa8b6be5.80aca8","type":"function","z":"238222e2.3669ce","name":"","func":"\nvar buffer = msg.payload;\nif (buffer && buffer.length == 8) {   \n    msg.len = buffer.length;\n    var bytes = buffer.readInt8(3);\n    msg.bal = buffer.slice(4, bytes + 4).toString();\n    \n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":1314,"wires":[["9af0d044.3aeb6"]]},{"id":"c0712f92.cb0c5","type":"ui_text","z":"238222e2.3669ce","group":"c712a169.ea1a1","order":8,"width":0,"height":0,"name":"","label":"Balancing cell:","format":"{{msg.bal}}","layout":"row-left","x":900,"y":1300,"wires":[]},{"id":"39dead4d.f44a82","type":"change","z":"238222e2.3669ce","name":"WCIB?","rules":[{"t":"set","p":"payload","pt":"msg","to":"WCIB?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":1294,"wires":[["43bb525c.a3de1c"]]},{"id":"ba86e76e.1ecf38","type":"delay","z":"238222e2.3669ce","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":401,"y":1250,"wires":[["39dead4d.f44a82"]]},{"id":"88cc3b93.710168","type":"switch","z":"238222e2.3669ce","name":"","property":"error","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":1200,"wires":[["3fd64a7a.2b5136"]]},{"id":"9af0d044.3aeb6","type":"switch","z":"238222e2.3669ce","name":"","property":"bal","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":1320,"wires":[["c0712f92.cb0c5"]]},{"id":"d91137d7.c6a8b8","type":"ui_group","name":"Elektro","tab":"775f61ce.6207a","order":3,"disp":true,"width":"4","collapse":false},{"id":"c712a169.ea1a1","type":"ui_group","name":"Einzellzellen","tab":"de1e280c.095b28","order":1,"disp":true,"width":"6","collapse":false},{"id":"f75b7179.44237","type":"ui_group","name":"Einstellungen","tab":"de1e280c.095b28","order":2,"disp":true,"width":"6","collapse":false},{"id":"82a8192e.e4b678","type":"ui_group","name":"Einstellungen ändern","tab":"de1e280c.095b28","order":3,"disp":true,"width":"6","collapse":false},{"id":"775f61ce.6207a","type":"ui_tab","name":"SOLVA Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"de1e280c.095b28","type":"ui_tab","name":"Verbraucher Details","icon":"dashboard","order":2,"disabled":false,"hidden":false}]